body {
    padding: 0;
    margin: 0;
}

.maze {
    padding: 10px;
    margin: 0;
}

.maze__row {
    padding: 0;
    margin: 0;
    font-size: 9px;
    text-align: center;
    white-space: nowrap;
}

.maze__row:after,
.maze__row:before{
    content: '';
    display: table;
    clear: both;
}

.maze__cell {
    float: left;
    width: 13px;  /*помещались трехзначные цифры*/
    height: 13px;
    padding: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    border: 1px solid #eee;
}

.maze__cell_wall {
    background-color: #333;
}

.maze__cell_path {
    background-color: #fad946;
}

.maze__cell_current {
    background-color: #f21000;
}